@model TestsSystem.Models.Test

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2 class="text-center"><span class="glyphicon glyphicon-tag"></span> Test Details</h2>
<hr />
<div class="col-md-offset-3">
    <dl class="dl-horizontal" style="font-size: large">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Subject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>
    </dl>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-8">
        @{ Html.RenderAction("Index", "Questions", new { TestID = Model.Id_testu }); }
    </div>
</div>
<p class="text-center">
    @Html.ActionLink("Back to List", "Index",null, new {@class = "btn btn-primary"})
</p>


<!--Modal dialog-->
<div id="modal-container" class="modal fade rounded" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">

        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        var msg = '@(TempData["msg"])';
        var option = '@(TempData["option"])';
    </script>
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/modal")
}





