@model IEnumerable<TestsSystem.Models.Test>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="panel panel-default">
    <div class="panel-heading" style="background-color : lightslategrey">
        <h2 class="text-center"><span class="glyphicon glyphicon-tags"></span> Tests List</h2>
    </div>
    @if (Model.Count() != 0)
    {
        <table class="table table-hover">
            <tr>
                <th>
                    <h4><strong>@Html.DisplayNameFor(model => model.Title)</strong></h4>
                </th>
                <th>
                    <h4><strong>@Html.DisplayNameFor(model => model.Subject)</strong></h4>
                </th>
                <th>
                    <h4><strong>@Html.DisplayNameFor(model => model.Created_at)</strong></h4>
                </th>
                <th>
                    <h4><strong>@Html.DisplayNameFor(model => model.Created_by)</strong></h4>
                </th>
                <th>
                    <h4><strong>@Html.DisplayNameFor(model => model.Status)</strong></h4>
                </th>
                <th>
                    <h4><strong>Operations:</strong></h4>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subject)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_at)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Created_by)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @if (User.IsInRole("Teacher"))
                        {
                            <a href="@Url.Action("Details", new { id = item.Id_testu })" class="btn btn-info">
                                <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
                            </a>
                            if (item.Status == "Prepared")
                            {
                                <a href="@Url.Action("Edit", new { id = item.Id_testu })" class="btn btn-primary">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                                </a>
                                <a href="@Url.Action("Delete", new { id = item.Id_testu })" class="btn btn-danger">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </a>
                            }
                        }
                        else
                        {
                            @Html.ActionLink("Fill in", "Create","Results", null, new { @class = "btn btn-primary" })
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        if (User.IsInRole("Teacher"))
        {
            <h3 class="text-center"><strong>You haven't created any test so far!!</strong></h3>
        }
        else
        {
            <h3 class="text-center"><strong>No tests have been created yet!!</strong></h3>
        }
    }
</div>
@if (User.IsInRole("Teacher"))
{
<p class="col-md-offset-5">
    @Html.ActionLink("Create New Test", "Create", null, new { @class = "btn btn-primary" })
</p>
}

@section Scripts {
    <script type="text/javascript">
        var msg = '@(TempData["msg"])';
        var option = '@(TempData["option"])';
    </script>
    @Scripts.Render("~/bundles/toastr")
}